@import "avantgrid";
@import "variables";

$blue: #ace5e8;
$dark-blue: #33b2b7;
$dark-grey: #1A1A1A;

h1 {
  font-family: "Stalemate", sans-serif;
  color: $dark-grey;
  margin: 30px 0 0 30px;
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
  margin: 20px 30px;
}

a {
  text-decoration: none;
  color: $dark-grey;
}

nav.right-position {
  float: right;
  margin: 10px 30px 0 0;
  font-weight: 400;
  @media only screen and (max-width: 700px) {
    margin-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      float: left;
      list-style: none;
      position: relative;
      margin: 0;
      border-right: 1px solid #1A1A1A;
      a {
        display: block;
        font-size: 18px;
        padding: 4px 12px;
        margin: 0 8px;
        line-height: 2;
        text-transform: uppercase;
        vertical-align: middle;
        &:hover {
          color: #999999;
        }
        span {
          font-size: 14px;
          text-transform: uppercase;
        }
        @media only screen and (max-width: 600px) {
          font-size: 18px;
          span {
            display: none;
          }
        }
      }
      &:last-child, &.right-align {
        ul {
          right: 0;
          a {
            white-space: nowrap;
          }
        }
      }
      ul {
        display: none;
        position: absolute;
        top: 100%;
         background: white;
        z-index: 9999;
        min-width: 120px;
        li {
          float: none;
          margin-left: 0;
          padding: 0;
          display: block;
          &:last-child a, &:last-child a:hover {
            border-bottom: none;
          }
          a {
            color: #999999;
            border-bottom: 1px dotted #666666;
            margin-left: 0;
            font-size: 12px;
            padding: 8px;
            i {
              margin: -2px 5px -2px -2px;
              font-size: 18px;
             }
          }
          a:hover {
            color: #666666;
            background: #f1f1f1;
          }
          a.logout {
            &:hover {
              color: #cc0000;
            }
          }
        }
      }
      &:hover {
        > ul {
          // +transition
          display: block;
        }
      }
    }
  }
}

table {
  width: 75%;
  text-align: left;
}

form {
  width: 90%;
  margin: 0 auto;
}

input {
  min-width: 400px;
  height: 34px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 2px 0;
  padding: 2px;
  border: 1px solid $blue-darkest;
}

#toolbar, #editor {
  width: 100%;
  margin: 15px auto;
  border: 1px solid $blue-darkest;
  border-radius: 3px;

  .image-wrapper {
    display: inline-block;
  }

  .resizing-active {
    border: 2px dashed red;
    padding: 2px;
    pointer-events: none;

    &:after {
      content: '▒';
      font-size: 20px;
      height: 20px;
      width: 20px;
      cursor: pointer;
      pointer-events: all;
      margin-right: -20px;
      margin-top: 20px;
    }
  }
}

#editor {
  height: 500px;
  overlow-y: scroll;
}

button, select {
  color: $blue-darkest;
  padding: 2px 4px;
  font-size: 1.1em;
  background: #fff;
  border: 1px solid $blue-darkest;
  border-radius: 3px;
  margin: 0 2px;

  &.ql-active, &:hover {
    background-color: $blue-lighter;
  }

  &.submit {
    color: $yellow-darkest;
    background: $yellow;
    text-align: right;
  }
}

