
/* get font */
@import url('https://fonts.googleapis.com/css?family=Scope+One');

/* background */

body {
	background-color: #435066;
	color: #a5d5ff;
	font-family: 'Scope one', serif;

	h1, h2, h3 {
		font-weight: 200;
	}
}

.front {
	padding: 30px 50px;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

.blog-list {
	text-align: right;

	h2 {
		margin-bottom: 0;
	}

	ul {
		display: inline;
		list-style: none;

		li {
			font-size: 1.2em;
		}
	}
}