$break-small: 400px;

h1 {
  font-family: "Stalemate", sans-serif;
  line-height: 1.6;
  font-size: 100px;
  @media screen and (max-width: $break-small) {
    line-height: 0.6em;
    font-size: 1em;
  }
}

h2, h3, p, a {
  font-family: droid-sans, sans-serif;
}

body {
  background: $blue-lightest
}

h2{
  font-size: 30px;
}

a {
  text-decoration: none;
}

ul, ol {
  li {
    list-style: none;
  }
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
}
