body {
  background: url('../images/backgrounds/style-one.png');
  background-repeat: repeat;
}

h1 {
  color: #dbcb34;
}

.central .mini-central .languages {
  color: #336067;
}

nav.menu {
  .menu-open-button, .menu-item {
    background: #88e670;
  }
}


.trailElement {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  background-color: #fff;
}
