doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="stylesheets/app.css")
    block title
      title .__~~** DW ADMIN **~~__.
  body
    nav.right-position
      ul
        li
          a(href='/') BLOOGS
        li
          a(href='/logout') LOGOOT
    block content
