doctype html
html
  head
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="/stylesheets/admin/app.css")
    block title
      title .__~~** DW ADMIN **~~__.

  body
    .block-1-1.grid-center
      .block-1-3.grid-center
        .panel
          h1 dorothyjane - admin
          .block-1-1.grid-center
            form(action='/admin/login' method='post')

              .form-group
                label.icon
                  i.fa.fa-user
                input(name='name' type='text')
              .form-group
                label.icon
                  i.fa.fa-key
                input(name='password' type='password')

              button(type='submit') LOGIN


