extends ./layout.jade

block content
  link(rel="stylesheet" type="text/css" href="/stylesheets/admin/trix.css")

  .grid
    .block-1-1
      h1( style="font-size: 3em; text-align: center;") ...

      .grid
        .block-1-3.vertical.block

        .block-1-3.vertical.block
          i.fa.fa-coffee
          each blog in blogs
            .blog
              h2= blog.name
              .trix-content
                !=blog.body

        .block-1-3.vertical.block



