extends ./layout.jade

block content
  link(rel="stylesheet" type="text/css" href="/stylesheets/admin/trix.css")

  .grid
    .block-1-1
      h1( style="font-size: 7em; text-align: center; margin-bottom: -40px") ...

      .grid.grid-center
        .block-4-5.vertical.block
          each blog in blogs
            .blog
              h2= blog.name
              .trix-content
                !=blog.body



