extends ./layout.jade

block content

  script(src='http://snapwidget.com/js/snapwidget.js')
  .grid
    .block-1-1
      h1( style="font-size: 3em; text-align: center;") ...

      .grid
        .block-1-3.vertical.block
          i.fa.fa-twitter

          a.twitter-timeline(href='https://twitter.com/_dorothyjane', data-widget-id='631532002290696192' height="300px") Tweets by @_dorothyjane

        .block-1-3.vertical.block
          i.fa.fa-coffee
        .block-1-3.vertical.block
          i.fa.fa-instagram
          iframe.snapwidget-widget(src='http://snapwidget.com/bd/?u=ZG90dGllamFuZXxpbnwxMDB8MnwxfHx5ZXN8MTB8bm9uZXxvblN0YXJ0fHllc3x5ZXM=&ve=260815', title='Instagram Widget', allowtransparency='true', frameborder='0', scrolling='no', style='border:none; overflow:hidden; width:100%;')

  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


