extends ./layout.jade

block content
  <!-- - var n = 0
  while n < 4
    .trailElement(id="trail_"+n)
    - n ++
  script(src='javascripts/mouse-trail.js') -->
  a#index
  a#blog

  .center-text.full-height
    #index.panel.central
      h1= title

      .mini-central
        each link, name in links
          a.menu-item(href=link)
            i.fa.fa-2x(class="fa-#{name}")

      a.blog-link(href="#blog")
        h3 read my blog
          i.fa.fa-angle-double-down

  
    #blog.panel
      a.back(href="#index")
        back
        i.fa.fa-arrow-circle-o-up
      h2 a blog will appear here imminently


  script.
    function heightChange(){
      var height = window.innerHeight;
      document.getElementById('index').setAttribute("style","height:" +height+"px");
    }

    window.onload = heightChange;

    window.onresize = heightChange;


