extends ./layout.jade

block content
  <!-- - var n = 0
  while n < 4
    .trailElement(id="trail_"+n)
    - n ++
  script(src='javascripts/mouse-trail.js') -->
  a#blog
  a#index

  #index.center-text.full-height
    .panel.central
      h1= title

      .mini-central
        each link, name in links
          a.menu-item(href=link)
            i.fa.fa-2x(class="fa-#{name}")

      a.blog-link(href="#blog")
        h2 read my blog
          i.fa.fa-angle-double-down

  
    .panel#blog
      a(href="#index")
        go back
      h3 A blog!


  script.
    function heightChange(){
      var height = window.innerHeight;
      document.getElementById('index').setAttribute("style","height:" +height+"px");
    }

    window.onload = heightChange;

    window.onresize = heightChange;


