extends ./layout.jade

block content
  h1 SIGNUP

  form(action='/signup' method='post')
    label NAME
    input(name='name')
    label PASSWORD
    input(name='password')
    button(type='submit') SIGNUP


