@charset "UTF-8";
/* Global Variables */
/* changing box model on all elemnts */
@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Stalemate|Yanone+Kaffeesatz:400,700,300,200");
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* This is a list of direct decendant elements that need their right margin adjusting when aligned center or right.*/
.grid, .grid-center, .grid-right {
  margin-left: -2%;
  max-width: 105%; }

.grid-center {
  text-align: center; }
  .grid-center > div, .grid-center header, .grid-center img, .grid-center footer, .grid-center article, .grid-center section {
    margin-right: 0.125em; }

.grid-right {
  text-align: right; }
  .grid-right > div, .grid-right header, .grid-right img, .grid-right footer, .grid-right article, .grid-right section {
    margin-right: 0.20em; }

.grid-justify {
  margin-left: 0;
  max-width: 105%;
  text-align: justify; }
  .grid-justify:after {
    content: '';
    display: inline-block;
    width: 100%; }

/* Setting up class names */
[class*="justify-"] {
  margin-top: 1em;
  overflow: hidden;
  *overflow: visible;
  display: block;
  vertical-align: top;
  width: 100%; }
  @media (min-width: 31.25em) {
    [class*="justify-"] {
      display: inline-block;
      *display: inline;
      *zoom: 1; } }
  [class*="justify-"]:last-of-type {
    margin-right: -0.1125em; }

[class*="block-"], .block-extend {
  margin-left: 2%;
  margin-right: -0.25em;
  margin-top: 1em;
  overflow: hidden;
  *overflow: visible;
  display: block;
  vertical-align: top;
  width: 98%; }
  @media (min-width: 31.25em) {
    [class*="block-"], .block-extend {
      display: inline-block;
      *display: inline;
      *zoom: 1; } }

.block-1-1, .justify-1-1 {
  width: 98%; }

@media (min-width: 48.875em) {
  .block-1-2, .justify-1-2 {
    width: 48%; } }

@media (min-width: 31.25em) {
  .block-1-3, .justify-1-3 {
    width: 31.36%; } }

@media (min-width: 31.25em) {
  .block-2-3, .justify-2-3 {
    width: 64.66667%; } }

@media (min-width: 31.25em) {
  .block-1-4, .justify-1-4 {
    width: 48%; } }
@media (min-width: 48.875em) {
  .block-1-4, .justify-1-4 {
    width: 23.05%; } }

@media (min-width: 48.875em) {
  .block-3-4, .justify-3-4 {
    width: 48%; } }
@media (min-width: 31.25em) {
  .block-3-4, .justify-3-4 {
    width: 72%; } }

@media (min-width: 31.25em) {
  .block-1-5, .justify-1-5 {
    width: 48%; } }
@media (min-width: 48.875em) {
  .block-1-5, .justify-1-5 {
    width: 18.07%; } }

@media (min-width: 31.25em) {
  .block-2-5, .justify-2-5 {
    width: 48%; } }
@media (min-width: 48.875em) {
  .block-2-5, .justify-2-5 {
    width: 38%; } }

@media (min-width: 48.875em) {
  .block-3-5, .justify-3-5 {
    width: 58%; } }

@media (min-width: 48.875em) {
  .block-4-5, .justify-4-5 {
    width: 78%; } }

@media (min-width: 31.25em) {
  .block-1-6, .justify-1-6 {
    width: 31.35%; } }
@media (min-width: 48.875em) {
  .block-1-6, .justify-1-6 {
    width: 14.607%; } }

@media (min-width: 48.875em) {
  .block-5-6, .justify-5-6 {
    width: 81.33334%; } }

@font-face {
  font-family: "MyFont";
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#MyFont") format("svg");
  font-style: normal;
  font-weight: normal; }
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33z0Z0kdIxn5DTe9DI+hNrxlIm3 */
/* As hex codes */
/*$blue: #6689a9;
$blue-lightest: #c3d7e9;
$blue-lighter: #93b1cc;
$blue-darker: #456b8e;
$blue-darkest: #2a5072;*/
/* As RGBa codes */
h1 {
  font-family: "Stalemate", sans-serif;
  color: #1A1A1A;
  margin: 30px 0 0 30px;
  font-size: 3.5em; }

h2 {
  font-size: 2.5em;
  margin: 20px 30px; }

a {
  text-decoration: none;
  color: #1A1A1A; }

nav.right-position {
  float: right;
  margin: 10px 30px 0 0;
  font-weight: 400; }
  @media only screen and (max-width: 700px) {
    nav.right-position {
      margin-top: 0; } }
  nav.right-position ul {
    margin: 0;
    padding: 0; }
    nav.right-position ul li {
      float: left;
      list-style: none;
      position: relative;
      margin: 0;
      border-right: 1px solid #1A1A1A; }
      nav.right-position ul li a {
        display: block;
        font-size: 18px;
        padding: 4px 12px;
        margin: 0 8px;
        line-height: 2;
        text-transform: uppercase;
        vertical-align: middle; }
        nav.right-position ul li a:hover {
          color: #999999; }
        nav.right-position ul li a span {
          font-size: 14px;
          text-transform: uppercase; }
        @media only screen and (max-width: 600px) {
          nav.right-position ul li a {
            font-size: 18px; }
            nav.right-position ul li a span {
              display: none; } }
      nav.right-position ul li:last-child ul, nav.right-position ul li.right-align ul {
        right: 0; }
        nav.right-position ul li:last-child ul a, nav.right-position ul li.right-align ul a {
          white-space: nowrap; }
      nav.right-position ul li ul {
        display: none;
        position: absolute;
        top: 100%;
        background: white;
        z-index: 9999;
        min-width: 120px; }
        nav.right-position ul li ul li {
          float: none;
          margin-left: 0;
          padding: 0;
          display: block; }
          nav.right-position ul li ul li:last-child a, nav.right-position ul li ul li:last-child a:hover {
            border-bottom: none; }
          nav.right-position ul li ul li a {
            color: #999999;
            border-bottom: 1px dotted #666666;
            margin-left: 0;
            font-size: 12px;
            padding: 8px; }
            nav.right-position ul li ul li a i {
              margin: -2px 5px -2px -2px;
              font-size: 18px; }
          nav.right-position ul li ul li a:hover {
            color: #666666;
            background: #f1f1f1; }
          nav.right-position ul li ul li a.logout:hover {
            color: #cc0000; }
      nav.right-position ul li:hover > ul {
        display: block; }

table {
  width: 75%;
  text-align: left; }

form {
  width: 90%;
  margin: 0 auto; }

input {
  min-width: 400px;
  height: 34px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 2px 0;
  padding: 2px;
  border: 1px solid #448089; }

#toolbar, #editor {
  width: 100%;
  margin: 15px auto;
  border: 1px solid #448089;
  border-radius: 3px; }
  #toolbar .image-wrapper, #editor .image-wrapper {
    display: inline-block; }
  #toolbar .resizing-active, #editor .resizing-active {
    border: 2px dashed red;
    padding: 2px;
    pointer-events: none; }
    #toolbar .resizing-active:after, #editor .resizing-active:after {
      content: '▒';
      font-size: 20px;
      height: 20px;
      width: 20px;
      cursor: pointer;
      pointer-events: all;
      margin-right: -20px;
      margin-top: 20px; }

#editor {
  height: 500px;
  overlow-y: scroll; }

button, select {
  color: #448089;
  padding: 2px 4px;
  font-size: 1.1em;
  background: #fff;
  border: 1px solid #448089;
  border-radius: 3px;
  margin: 0 2px; }
  button.ql-active, button:hover, select.ql-active, select:hover {
    background-color: #78b3bb; }
  button.submit, select.submit {
    color: #b0a839;
    background: #fff892;
    text-align: right; }

/*# sourceMappingURL=app.css.map */
