@import url("https://fonts.googleapis.com/css?family=Scope+One");
/* get font */
/* background */
body {
  background-color: #435066;
  color: #a5d5ff;
  font-family: 'Scope one', serif; }
  body h1, body h2, body h3 {
    font-weight: 200; }

.front {
  padding: 30px 50px; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

.blog-list {
  text-align: right; }
  .blog-list h2 {
    margin-bottom: 0; }
  .blog-list ul {
    display: inline;
    list-style: none; }
    .blog-list ul li {
      font-size: 1.2em; }
