@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Stalemate|Yanone+Kaffeesatz:400,700,300,200");
@font-face {
  font-family: "MyFont";
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#MyFont") format("svg");
  font-style: normal;
  font-weight: normal; }
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33z0Z0kdIxn5DTe9DI+hNrxlIm3 */
/* As hex codes */
/*$blue: #6689a9;
$blue-lightest: #c3d7e9;
$blue-lighter: #93b1cc;
$blue-darker: #456b8e;
$blue-darkest: #2a5072;*/
/* As RGBa codes */
/* Global Variables */
/* changing box model on all elemnts */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* This is a list of direct decendant elements that need their right margin adjusting when aligned center or right.*/
.grid, .grid-center, .grid-right {
  margin-left: -2%;
  max-width: 105%; }

.grid-center {
  text-align: center; }
  .grid-center > div, .grid-center header, .grid-center img, .grid-center footer, .grid-center article, .grid-center section {
    margin-right: 0.125em; }

.grid-right {
  text-align: right; }
  .grid-right > div, .grid-right header, .grid-right img, .grid-right footer, .grid-right article, .grid-right section {
    margin-right: 0.20em; }

.grid-justify {
  margin-left: 0;
  max-width: 105%;
  text-align: justify; }
  .grid-justify:after {
    content: '';
    display: inline-block;
    width: 100%; }

/* Setting up class names */
[class*="justify-"] {
  margin-top: 1em;
  overflow: hidden;
  *overflow: visible;
  display: block;
  vertical-align: top;
  width: 100%; }
  @media (min-width: 31.25em) {
    [class*="justify-"] {
      display: inline-block;
      *display: inline;
      *zoom: 1; } }
  [class*="justify-"]:last-of-type {
    margin-right: -0.1125em; }

[class*="block-"], .block-extend {
  margin-left: 2%;
  margin-right: -0.25em;
  margin-top: 1em;
  overflow: hidden;
  *overflow: visible;
  display: block;
  vertical-align: top;
  width: 98%; }
  @media (min-width: 31.25em) {
    [class*="block-"], .block-extend {
      display: inline-block;
      *display: inline;
      *zoom: 1; } }

.block-1-1, .justify-1-1 {
  width: 98%; }

@media (min-width: 48.875em) {
  .block-1-2, .justify-1-2 {
    width: 48%; } }

@media (min-width: 31.25em) {
  .block-1-3, .justify-1-3 {
    width: 31.36%; } }

@media (min-width: 31.25em) {
  .block-2-3, .justify-2-3 {
    width: 64.66667%; } }

@media (min-width: 31.25em) {
  .block-1-4, .justify-1-4 {
    width: 48%; } }
@media (min-width: 48.875em) {
  .block-1-4, .justify-1-4 {
    width: 23.05%; } }

@media (min-width: 48.875em) {
  .block-3-4, .justify-3-4 {
    width: 48%; } }
@media (min-width: 31.25em) {
  .block-3-4, .justify-3-4 {
    width: 72%; } }

@media (min-width: 31.25em) {
  .block-1-5, .justify-1-5 {
    width: 48%; } }
@media (min-width: 48.875em) {
  .block-1-5, .justify-1-5 {
    width: 18.07%; } }

@media (min-width: 31.25em) {
  .block-2-5, .justify-2-5 {
    width: 48%; } }
@media (min-width: 48.875em) {
  .block-2-5, .justify-2-5 {
    width: 38%; } }

@media (min-width: 48.875em) {
  .block-3-5, .justify-3-5 {
    width: 58%; } }

@media (min-width: 48.875em) {
  .block-4-5, .justify-4-5 {
    width: 78%; } }

@media (min-width: 31.25em) {
  .block-1-6, .justify-1-6 {
    width: 31.35%; } }
@media (min-width: 48.875em) {
  .block-1-6, .justify-1-6 {
    width: 14.607%; } }

@media (min-width: 48.875em) {
  .block-5-6, .justify-5-6 {
    width: 81.33334%; } }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

fieldset, img {
  border: 0; }

ol, ul, li {
  list-style: none; }

:focus {
  outline: none; }

input[type=radio] {
  visibility: hidden; }

form {
  margin: 0 30px; }

label.radio {
  cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px; }

label.radio:before {
  background: white;
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%; }

label.radio:after {
  opacity: 0;
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.25em;
  background: transparent;
  top: 7.5px;
  left: 4.5px;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

input[type=radio]:checked + label:after {
  opacity: 1; }

hr {
  color: darkgrey;
  opacity: 0.3; }

input[type=text], input[type=password] {
  width: 200px;
  height: 39px;
  -webkit-border-radius: 0px 4px 4px 0px / 5px 5px 4px 4px;
  -moz-border-radius: 0px 4px 4px 0px / 0px 0px 4px 4px;
  border-radius: 0px 4px 4px 0px / 5px 5px 4px 4px;
  background-color: white;
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px;
  padding-left: 10px; }

input[type=password] {
  margin-bottom: 25px; }

.icon {
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 10px 0px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  border: solid 0px #cbc9c9; }

.gender {
  margin-left: 30px;
  margin-bottom: 30px; }

.accounttype {
  margin-left: 8px;
  margin-top: 20px; }

button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  text-decoration: none;
  height: 27px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #3a57af;
  -webkit-box-shadow: 0 3px 0 3px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 3px 0 3px rgba(0, 0, 0, 0.09);
  box-shadow: 0 3px 0 3px rgba(0, 0, 0, 0.09);
  transition: all 0.1s linear 0s;
  top: 0px;
  position: relative; }

button:hover {
  top: 3px;
  background-color: #2e458b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

html, body {
  width: 100%;
  height: 100%;
  position: relative; }

/*body {
    overflow: hidden;
}
*/
h1, h2 {
  font-family: "Stalemate", sans-serif; }

h1 {
  line-height: 0.6;
  font-size: 250px;
  text-shadow: 3px 3px #ff0000;
  z-index: 10; }
  @media screen and (max-width: 850px) {
    h1 {
      line-height: 0.6em; } }

h2 {
  font-size: 80px;
  text-shadow: 3px 3px #dbd361;
  color: #50959f;
  text-align: left;
  line-height: 1em; }

h3 {
  font-size: 2em;
  color: #448089; }

h5 {
  font-size: 1em;
  margin-top: 10px; }

h3, p, a, h5, div {
  font-family: droid-sans, sans-serif;
  color: #448089; }

a {
  text-decoration: none; }

ul li, ol li {
  list-style: none; }

footer {
  position: fixed;
  bottom: 0; }

.full-height {
  height: 100%; }

.main {
  min-height: 100vh;
  display: block;
  position: relative; }

.panel {
  margin: 0 auto;
  width: 90%; }

#index {
  text-align: center; }
  #index h1 {
    padding-top: 100px; }
  #index .social-links {
    display: table;
    margin: 90px auto 0; }
    #index .social-links .menu-item {
      padding: 20px;
      display: table-cell;
      width: 20%;
      font-size: 1.8em; }

a {
  color: #dbd361;
  transition: all 0.2s ease; }
  a:hover {
    color: #fff892; }
  a.blog-link {
    color: #7dafb8;
    font-size: 3.5em;
    text-shadow: 1px 1px #9ec4ca;
    display: inline-block;
    background: #9fcacf;
    padding: 6px 16px 11px;
    border-radius: 30px;
    line-height: 1.2em;
    margin-top: 20px; }
    a.blog-link i {
      vertical-align: bottom;
      padding-left: 15px;
      font-weight: bold; }
    a.blog-link:hover {
      color: #61A6B0;
      /*text-shadow: 1px 1px $blue;*/ }

div#blog, div#index {
  min-height: 100vh;
  width: 100%;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out; }

#blog {
  background: #E0ECEE;
  overflow: visible;
  height: 100%; }
  #blog a.back {
    float: right;
    text-shadow: 3px 3px #F8F8F8;
    font-size: 3em;
    line-height: 1em;
    color: #61A6B0;
    margin: 20px 30px; }
    #blog a.back:hover {
      color: #DBCB34; }
  #blog h3 {
    margin-bottom: 50px; }

#blog .blogs {
  padding: 0 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  #blog .blogs .blog {
    border-bottom: 1px solid #448089;
    padding: 15px 10px; }
    #blog .blogs .blog .body {
      font-size: 0.8em;
      line-height: 1em;
      color: #448089;
      margin-top: 30px; }
      #blog .blogs .blog .body p, #blog .blogs .blog .body h2, #blog .blogs .blog .body h3, #blog .blogs .blog .body h4 {
        font-family: droid-sans, sans-serif; }
      #blog .blogs .blog .body h4 {
        font-size: 1.3em; }
      #blog .blogs .blog .body h2 {
        font-size: 2em; }
      #blog .blogs .blog .body h3, #blog .blogs .blog .body h4 {
        margin-bottom: 5px;
        margin-top: 10px; }
      #blog .blogs .blog .body h2 {
        margin-top: 10px;
        margin-bottom: 8px; }
      #blog .blogs .blog .body .ql-size-small {
        font-size: 0.7em; }
      #blog .blogs .blog .body .ql-align-center {
        text-align: center; }
      #blog .blogs .blog .body .ql-syntax {
        background-color: #F8F8F8;
        padding: 5px 10px;
        border-radius: 2px; }
      #blog .blogs .blog .body img {
        max-width: 100%;
        width: 100%; }
      #blog .blogs .blog .body ol,
      #blog .blogs .blog .body ol li,
      #blog .blogs .blog .body ul,
      #blog .blogs .blog .body ul li {
        list-style: lower-alpha;
        list-style-position: inside;
        margin-left: 10px; }

a[id="index"]:target ~ .main div.panel {
  -webkit-transform: translateY(0px);
  transform: translateY(0px); }

a[id="blog"]:target ~ .main div.panel {
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh); }

.languages {
  margin: 0 auto;
  font-size: 2em;
  color: #fff;
  z-index: 1;
  display: inline-block; }
  .languages i {
    padding: 0 5px; }

@media screen and (max-width: 1130px) {
  #index h1 {
    font-size: 200px;
    line-height: 0.8em; } }
@media screen and (max-width: 900px) {
  #index h1 {
    padding-top: 35px; }
  #index .social-links {
    margin: 60px auto 0; } }
@media screen and (max-width: 850px) {
  #index h1 {
    line-height: 0.8;
    font-size: 180px;
    text-shadow: 3px 3px #ff0000;
    z-index: 10; }

  #index h1 {
    padding-top: 30px; }
  #index .social-links {
    margin: 50px auto 0; }
    #index .social-links .menu-item {
      padding: 30px 10px;
      width: 1%;
      font-size: 1.8em; } }
@media screen and (max-width: 500px) {
  #index h1 {
    line-height: 0.8;
    font-size: 120px;
    text-shadow: 3px 3px #ff0000;
    z-index: 10;
    padding-top: 50px; }

  #index .social-links .menu-item {
    padding: 40px 5px;
    width: 1%;
    font-size: 1.6em; }

  .blogs {
    padding: 0 10px; }

  a.blog-link {
    font-size: 3em;
    padding: 6px 20px 10px;
    line-height: 1.2em;
    margin-top: 20px; } }
@-webkit-keyframes half-round {
  0% {
    border-radius: 0%;
    height: 25px; }
  60% {
    border-radius: 50%;
    height: 3px; }
  100% {
    border-radius: 0%;
    height: 3px; } }
@-moz-keyframes half-round {
  0% {
    border-radius: 0%;
    height: 25px; }
  60% {
    border-radius: 50%;
    height: 3px; }
  100% {
    border-radius: 0%;
    height: 3px; } }
@-ms-keyframes half-round {
  0% {
    border-radius: 0%;
    height: 25px; }
  60% {
    border-radius: 50%;
    height: 3px; }
  100% {
    border-radius: 0%;
    height: 3px; } }
@-o-keyframes half-round {
  0% {
    border-radius: 0%;
    height: 25px; }
  60% {
    border-radius: 50%;
    height: 3px; }
  100% {
    border-radius: 0%;
    height: 3px; } }
@keyframes half-round {
  0% {
    border-radius: 0%;
    height: 25px; }
  60% {
    border-radius: 50%;
    height: 3px; }
  100% {
    border-radius: 0%;
    height: 3px; } }
@-webkit-keyframes throb-1 {
  0% {
    transform: scale(1) translate3d(10px, -14px, 0) rotate(-45deg); }
  35% {
    transform: scale(1.1) translate3d(10px, -14px, 0) rotate(-45deg); }
  100% {
    transform: scale(1) translate3d(10px, -14px, 0) rotate(-45deg); } }
@-moz-keyframes throb-1 {
  0% {
    transform: scale(1) translate3d(10px, -14px, 0) rotate(-45deg); }
  35% {
    transform: scale(1.1) translate3d(10px, -14px, 0) rotate(-45deg); }
  100% {
    transform: scale(1) translate3d(10px, -14px, 0) rotate(-45deg); } }
@-ms-keyframes throb-1 {
  0% {
    transform: scale(1) translate3d(10px, -14px, 0) rotate(-45deg); }
  35% {
    transform: scale(1.1) translate3d(10px, -14px, 0) rotate(-45deg); }
  100% {
    transform: scale(1) translate3d(10px, -14px, 0) rotate(-45deg); } }
@-o-keyframes throb-1 {
  0% {
    transform: scale(1) translate3d(10px, -14px, 0) rotate(-45deg); }
  35% {
    transform: scale(1.1) translate3d(10px, -14px, 0) rotate(-45deg); }
  100% {
    transform: scale(1) translate3d(10px, -14px, 0) rotate(-45deg); } }
@keyframes throb-1 {
  0% {
    transform: scale(1) translate3d(10px, -14px, 0) rotate(-45deg); }
  35% {
    transform: scale(1.1) translate3d(10px, -14px, 0) rotate(-45deg); }
  100% {
    transform: scale(1) translate3d(10px, -14px, 0) rotate(-45deg); } }
@-webkit-keyframes throb-2 {
  0% {
    transform: scale(1) translate3d(-10px, -14px, 0) rotate(-45deg); }
  35% {
    transform: scale(1.1) translate3d(-10px, -14px, 0) rotate(-45deg); }
  100% {
    transform: scale(1) translate3d(-10px, -14px, 0) rotate(-45deg); } }
@-moz-keyframes throb-2 {
  0% {
    transform: scale(1) translate3d(-10px, -14px, 0) rotate(-45deg); }
  35% {
    transform: scale(1.1) translate3d(-10px, -14px, 0) rotate(-45deg); }
  100% {
    transform: scale(1) translate3d(-10px, -14px, 0) rotate(-45deg); } }
@-ms-keyframes throb-2 {
  0% {
    transform: scale(1) translate3d(-10px, -14px, 0) rotate(-45deg); }
  35% {
    transform: scale(1.1) translate3d(-10px, -14px, 0) rotate(-45deg); }
  100% {
    transform: scale(1) translate3d(-10px, -14px, 0) rotate(-45deg); } }
@-o-keyframes throb-2 {
  0% {
    transform: scale(1) translate3d(-10px, -14px, 0) rotate(-45deg); }
  35% {
    transform: scale(1.1) translate3d(-10px, -14px, 0) rotate(-45deg); }
  100% {
    transform: scale(1) translate3d(-10px, -14px, 0) rotate(-45deg); } }
@keyframes throb-2 {
  0% {
    transform: scale(1) translate3d(-10px, -14px, 0) rotate(-45deg); }
  35% {
    transform: scale(1.1) translate3d(-10px, -14px, 0) rotate(-45deg); }
  100% {
    transform: scale(1) translate3d(-10px, -14px, 0) rotate(-45deg); } }
@-webkit-keyframes throb-3 {
  0% {
    transform: scale(1) translate3d(0, -4px, 0) rotate(45deg); }
  35% {
    transform: scale(1.1) translate3d(0, -4px, 0) rotate(45deg); }
  100% {
    transform: scale(1) translate3d(0, -4px, 0) rotate(45deg); } }
@-moz-keyframes throb-3 {
  0% {
    transform: scale(1) translate3d(0, -4px, 0) rotate(45deg); }
  35% {
    transform: scale(1.1) translate3d(0, -4px, 0) rotate(45deg); }
  100% {
    transform: scale(1) translate3d(0, -4px, 0) rotate(45deg); } }
@-ms-keyframes throb-3 {
  0% {
    transform: scale(1) translate3d(0, -4px, 0) rotate(45deg); }
  35% {
    transform: scale(1.1) translate3d(0, -4px, 0) rotate(45deg); }
  100% {
    transform: scale(1) translate3d(0, -4px, 0) rotate(45deg); } }
@-o-keyframes throb-3 {
  0% {
    transform: scale(1) translate3d(0, -4px, 0) rotate(45deg); }
  35% {
    transform: scale(1.1) translate3d(0, -4px, 0) rotate(45deg); }
  100% {
    transform: scale(1) translate3d(0, -4px, 0) rotate(45deg); } }
@keyframes throb-3 {
  0% {
    transform: scale(1) translate3d(0, -4px, 0) rotate(45deg); }
  35% {
    transform: scale(1.1) translate3d(0, -4px, 0) rotate(45deg); }
  100% {
    transform: scale(1) translate3d(0, -4px, 0) rotate(45deg); } }
@-webkit-keyframes orbit {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes orbit {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-ms-keyframes orbit {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-o-keyframes orbit {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes orbit {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.retro-link {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0 #aaa, -1.5px -1.5px 0 #aaa, -1.5px -1.5px 0 #aaa, -1.5px 1.5px 0 #aaa, 1.5px -1.5px 0 #aaa; }

.retro-link text,
.retro-link stop {
  transition: all 350ms ease-in-out; }
.retro-link text {
  text-transform: uppercase;
  fill: url(#striped);
  text-shadow: 1.5px 1.5px 0 #ccc, -1.5px -1.5px 0 #ccc, -1.5px -1.5px 0 #ccc, -1.5px 1.5px 0 #ccc, 1.5px -1.5px 0 #ccc; }
.retro-link:hover text {
  text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 0.77813px 0.77751px 0 #aaaaaa, 1.55625px 1.55502px 0 #aaaaaa, 2.33438px 2.33252px 0 #aaaaaa, 3.11251px 3.11003px 0 #aaaaaa, 3.89064px 3.88754px 0 #aaaaaa, 4.66876px 4.66505px 0 #aaaaaa, 5.44689px 5.44255px 0 #aaaaaa, 6.22502px 6.22006px 0 #aaaaaa, 7.00314px 6.99757px 0 #aaaaaa, 7.78127px 7.77508px 0 #aaaaaa; }
.retro-link stop {
  stop-color: #fff; }
.retro-link:hover stop {
  stop-color: #fff; }
  .retro-link:hover stop:nth-child(2), .retro-link:hover stop:nth-child(3) {
    stop-color: #9d3353; }

.orbit-wrapper {
  visibility: hidden;
  margin-left: -75px;
  margin-top: -20px;
  -webkit-animation: orbit 2s infinite linear;
  -moz-animation: orbit 2s infinite linear;
  -ms-animation: orbit 2s infinite linear;
  -o-animation: orbit 2s infinite linear;
  animation: orbit 2s infinite linear;
  width: 180px; }

.orbit {
  float: left;
  width: 15px;
  height: 15px; }

.orbit i {
  color: #fde74e; }

.heart {
  background: #e74c3c;
  border-radius: 500% 500% 500% 0%;
  transform: rotate(-45deg); }
  .heart:before {
    content: '';
    display: block;
    background: #e74c3c;
    width: 15px;
    height: 15px;
    border-radius: 500% 500% 500% 0%;
    margin: 7.5px;
    position: absolute;
    transform: rotate(0deg); }
  .heart:after {
    content: '';
    display: block;
    background: #e74c3c;
    z-index: -1;
    width: 15px;
    height: 15px;
    border-radius: 500% 500% 500% 0%;
    margin-left: 7.5px;
    margin-top: 15px;
    position: absolute;
    transform: rotate(0deg) translateY(-7.5px) translateX(-7.5px); }

/*# sourceMappingURL=app.css.map */
