extends ../layout.jade

block content
  script(src="/javascripts/quill.min.js")
  link(rel="stylesheet", type="text/css", href="/stylesheets/quill.base.css")
  link(rel="stylesheet", type="text/css", href="/stylesheets/quill.snow.css")


  .block-1-1
    h2 Edit blog

    form(action="/admin/blog/#{blog.id}" method='POST')
      input(type="hidden" name="_method" value="PUT")

      include ./form.jade
