extends ../layout.jade

block content
  h2 BLOGS
  table
    thead
      th ID
      th Name
      th created
      th
    tbody
      each blog in blogs
        tr
          td= blog.id
          td= blog.name
          td= blog.created_at
          td
            a(href="/admin/blog/#{blog.id}")
              i.fa.fa-edit

